<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Location</title>
    </head>
    <body>
        <%- include('../partials/header') %> 
        <h1 style='color:blue'> <%= `${firstName} ${lastName}` %> </h1>
        <p> <%= color %>, <%= car %> </p>
        <img src="/assets/GTR.jpg" alt="GTR">
        <div>
            <ul>
            <% places.forEach(({city, state}, idx) => {%> 
                <ol><%= idx + 1 %>. <%= city %>, <%= state %></ol>
            <%}) %>
            </ul>
        </div>
    </body>
</html>